[submodule "exercises/audit/lib/solmate"]
	path = exercises/audit/lib/solmate
	url = https://github.com/transmission/solmate
[submodule "exercises/audit/lib/forge-std"]
	path = exercises/audit/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "exercises/audit/lib/openzeppelin-contracts"]
	path = exercises/audit/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
